.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  padding: 3rem 5rem;
  min-height: 100vh;
}

.left {
  flex: 1;
  max-width: 50%;
}

.right {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: var(--cyan-color);
}
.contactInfo {
  margin: 1rem 0 2rem 0;
}

.contactInfo p {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.icon {
  color: var(--cyan-color);
  font-size: 1.2rem;
}

.description {
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.cvBtn,
.hireMe {
  background: var(--light-cyan-color);
  color: var(--white-color);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background 0.3s ease;
}

.cvBtn:hover {
  background: var(--dark-cyan-color);
  box-shadow: var(--info-color) 0px 3px 8px;
}
.hireMe:hover {
  background: var(--dark-cyan-color);
  box-shadow: var(--info-color) 0px 3px 8px;
}

.profileImage {
  max-width: 340px;
  border-radius: 12px;
  font-weight: 700;
  box-shadow: 0 0 20px var(--cyan-color);
}

@media (max-width: 992px) {
  .parent {
    flex-direction: column;
    padding: 2rem 1.5rem; /* left-right padding kam kiya */
    margin-top: 88px !important;
    width: 100%; /* full screen cover kare */
    text-align: center; /* center align */
  }

  .left {
    max-width: 100%; /* puri width */
    width: 100%;
  }

  .buttons {
    width: 100%; /* buttons stretch */
    justify-content: center;
    gap: 1rem;
  }

  .cvBtn,
  .hireMe {
    flex: 1; /* tablet pe equal space le */
    padding: 0.7rem 1rem;
  }

  .profileImage {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .parent {
    flex-direction: column;
    padding: 1.5rem 1rem; 
    text-align: center;
    margin-top: 88px !important;
    width: 100%;
  }

  .left {
    max-width: 100%;
    width: 100%;
  }

  .left > h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .left > h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  .contactInfo {
    margin: 1rem 0 2rem 0;
  }

  .contactInfo p {
    font-size: 0.8rem;
  }

  .buttons {
    flex-direction: column; 
    width: 100%;
    gap: 0.8rem;
  }

  .cvBtn,
  .hireMe {
    width: 100%; 
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  .profileImage {
    display: none !important;
  }
}
